@import "mocha.css";

* {
  min-height: 0;
  font-family: JetBrains Mono NL, JetBrainsMonoNerd Font;
  font-size: 12px;
  font-weight: 600;
  padding: 0;
  margin: -1px;
  color: @lavender;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background: #1e1e1e;
  margin: 2px 1px 3px 1px;
  padding: 0px 0px;
  margin: 5px 5px;
  border-radius: 15px;
  border: 0px;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: black;
}

#workspaces button {
  padding: 1px 1px;
  margin: 3px 3px;
  border-radius: 15px;
  border: 0px;
  color: #fff;
  /* background-color: #1e1e1e; */
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: #000;
  background: #36454f;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button.urgent {
  background-color: #ff441f;
}

#clock,
#pulseaudio,
#battery,
#cpu,
#tray,
#memory,
#window {
  padding: 0px 8px;
  margin: 6px 3px;
  /* color: #e5e5e5; */
  border-radius: 20px;
  background-color: #1e1e1e;
}

#custom-logo {
  padding: 0px 10px;
}

#tray {
  font-size: 10px;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

#window {
  background-color: transparent;
}
/* 
#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #e3e3e3;
}

#clock.date {
  color: #e3e3e3;
}

#pulseaudio {
  color: #fff;
}

#pulseaudio.muted {
  color: #ff5b45;
} */

tooltip {
  border-radius: 8px;
}
